* {
    font-family: 'Baloo Da 2', cursive;
}

body { 
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    background-color:  #fff;
    height: 85%;
    max-width: 1400px;
    max-height: 600px;

    
}

